input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
  background-color: white;
  outline: none;
  /* no focus outline */
}
input[type="range"]:hover {
  cursor: pointer;
}
input[type="range"]::-moz-range-track, input[type="range"]::-ms-track {
  border: inherit;
  background: transparent;
}
input[type="range"]::-ms-track {
  color: transparent;
  /* don't drawn vertical reference line */
}
input[type="range"]::-ms-fill-lower, input[type="range"]::-ms-fill-upper {
  background: transparent;
}
input[type="range"]::-ms-tooltip {
  display: none;
}
input[type="range"]::-moz-range-thumb, input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: solid thin #8bc5b3;
  background-color: white;
  padding: 1px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: solid thin #8bc5b3;
  background-color: white;
  padding: 1px;
}
