html {
  position: relative;
  height: 100%;
}
body {
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata';
  font-weight: 200;
}
header.main {
  padding: 15px 0;
  background-color: #8bc5b3;
  text-align: center;
  color: #ecf0f1;
  height: 75px;
}
header.main a {
  color: #ecf0f1;
  font-family: 'Inconsolata';
  font-size: 20px;
}
header.main a:hover {
  color: #c5e2d9;
}
header.main h1 {
  letter-spacing: 1px;
}
footer.main {
  background-color: #95a5a6;
  font-family: 'Inconsolata';
  padding: 40px 0;
  text-align: center;
  height: 25px;
}
footer.main a {
  color: #fff;
}
footer.main a:hover {
  color: #8bc5b3;
}
#timeline {
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -320px;
  left: 50%;
  background-color: #8bc5b3;
  position: absolute;
  bottom: 0;
  height: 40px;
  transition: bottom 100ms;
  font-family: 'Inconsolata';
  color: #ecf0f1;
  text-align: center;
}
#timeline.disabled {
  bottom: -41px;
}
#timeline span {
  margin-top: 7px;
}
#timeline #min-year {
  float: left;
}
#timeline #max-year {
  float: right;
}
#timeline-control {
  width: 500px;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -250px;
  height: 1px;
  border-top: solid 1px #ecf0f1;
  padding: 0 15px;
}
#timeline-control .noUi-handle {
  background-color: #ecf0f1;
  border: solid thin #8bc5b3;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  top: -8px;
}
div.container {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}
div.container:before,
div.container:after {
  content: '';
  display: table;
}
div.container:after {
  clear: both;
}
div.container.map,
div.container.cloud {
  position: absolute;
  max-width: 100%;
  margin-top: 100px;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
div#map-canvas {
  width: 100%;
  height: 100%;
}
div#map-canvas img {
  max-width: none;
}
form {
  text-align: center;
}
form label {
  font-family: 'Inconsolata';
  display: inline-block;
  font-weight: normal;
  margin-right: 10px;
}
input[type="text"][name="search"] {
  max-width: 400px;
  margin: 15px 0;
  display: inline-block;
}
tbody > tr:hover {
  cursor: pointer;
  background-color: #fafafa;
}
nav.pagination {
  text-align: center;
  padding: 20px 0;
  font-family: monospace;
}
nav.pagination a {
  color: #95a5a6;
}
nav.pagination a:hover,
nav.pagination a.current {
  text-decoration: underline;
}
article {
  text-align: center;
  width: 100%;
}
article pre {
  text-align: left;
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
}
article header {
  margin: 20px 0;
  padding: 20px;
  padding-bottom: 45px;
  border: solid 2px #95a5a6;
}
article header .left {
  float: left;
}
article header .right {
  float: right;
}
article header .left,
article header .right {
  margin-top: 10px;
}
article header .classification {
  text-transform: uppercase;
}
article header h1,
article header h2,
article header h3,
article header h4,
article header h5,
article header h6 {
  font-family: monospace;
}
article footer {
  font-family: monospace;
  padding-bottom: 50px;
}
article footer ul {
  text-align: center;
}
article footer ul li {
  display: inline-block;
}
article footer ul li a {
  color: #8bc5b3;
}
article footer ul li a:hover {
  color: #95a5a6;
}
