$poamgranart: #8BC5B3;
$thumb-size: 15px;
$thumb-rad: $thumb-size;
input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: white;
    outline: none;
    /* no focus outline */
    &:hover {
        cursor: pointer;
    }
    &::-moz-range-track, &::-ms-track {
        border: inherit;
        background: transparent;
    }
    &::-ms-track {
        color: transparent;
        /* don't drawn vertical reference line */
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
        background: transparent;
    }
    &::-ms-tooltip {
        display: none;
    }
    &::-moz-range-thumb, &::-ms-thumb {
        width: $thumb-size;
        height: $thumb-size;
        border-radius: $thumb-rad;
        border: solid thin $poamgranart;
        background-color: white;
        padding: 1px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: $thumb-size;
        height: $thumb-size;
        border-radius: $thumb-rad;
        border: solid thin $poamgranart;
        background-color: white;
        padding: 1px;
    }
}