@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 0.75em;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
a:hover {
  color: #2c5999;
}
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: "\2014 \00A0";
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}

.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 1px;
  border-top: solid 1px black;
  margin: 25px 0;
  padding: 0 15px;
}

.noUi-handle {
  width: 12px;
  height: 12px;
  top: -6px;
}

.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}

.noUi-vertical {
  width: 1px;
  margin: 0 25px;
  border-right: solid 1px black;
}

.noUi-vertical.noUi-extended {
  padding: 15px 0;
}

.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

.noUi-handle {
  border: 1px solid black;
  border-radius: 12px;
  background: #FFF;
  cursor: default;
  left: -6px;
}

.noUi-active {
  background-color: #cccccc;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Blocked state;
 */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
  background: #4FDACF;
}
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
  background-color: white;
  outline: none;
  /* no focus outline */
}
input[type="range"]:hover {
  cursor: pointer;
}
input[type="range"]::-moz-range-track, input[type="range"]::-ms-track {
  border: inherit;
  background: transparent;
}
input[type="range"]::-ms-track {
  color: transparent;
  /* don't drawn vertical reference line */
}
input[type="range"]::-ms-fill-lower, input[type="range"]::-ms-fill-upper {
  background: transparent;
}
input[type="range"]::-ms-tooltip {
  display: none;
}
input[type="range"]::-moz-range-thumb, input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: solid thin #8bc5b3;
  background-color: white;
  padding: 1px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: solid thin #8bc5b3;
  background-color: white;
  padding: 1px;
}
html {
  position: relative;
  height: 100%;
}
body {
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata';
  font-weight: 200;
}
header.main {
  padding: 15px 0;
  background-color: #8bc5b3;
  text-align: center;
  color: #ecf0f1;
  height: 75px;
}
header.main a {
  color: #ecf0f1;
  font-family: 'Inconsolata';
  font-size: 20px;
}
header.main a:hover {
  color: #c5e2d9;
}
header.main h1 {
  letter-spacing: 1px;
}
footer.main {
  background-color: #95a5a6;
  font-family: 'Inconsolata';
  padding: 40px 0;
  text-align: center;
  height: 25px;
}
footer.main a {
  color: #fff;
}
footer.main a:hover {
  color: #8bc5b3;
}
#timeline {
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -320px;
  left: 50%;
  background-color: #8bc5b3;
  position: absolute;
  bottom: 0;
  height: 40px;
  transition: bottom 100ms;
  font-family: 'Inconsolata';
  color: #ecf0f1;
  text-align: center;
}
#timeline.disabled {
  bottom: -41px;
}
#timeline span {
  margin-top: 7px;
}
#timeline #min-year {
  float: left;
}
#timeline #max-year {
  float: right;
}
#timeline-control {
  width: 500px;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -250px;
  height: 1px;
  border-top: solid 1px #ecf0f1;
  padding: 0 15px;
}
#timeline-control .noUi-handle {
  background-color: #ecf0f1;
  border: solid thin #8bc5b3;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  top: -8px;
}
div.container {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}
div.container:before,
div.container:after {
  content: '';
  display: table;
}
div.container:after {
  clear: both;
}
div.container.map,
div.container.cloud {
  position: absolute;
  max-width: 100%;
  margin-top: 100px;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
div#map-canvas {
  width: 100%;
  height: 100%;
}
div#map-canvas img {
  max-width: none;
}
form {
  text-align: center;
}
form label {
  font-family: 'Inconsolata';
  display: inline-block;
  font-weight: normal;
  margin-right: 10px;
}
input[type="text"][name="search"] {
  max-width: 400px;
  margin: 15px 0;
  display: inline-block;
}
tbody > tr:hover {
  cursor: pointer;
  background-color: #fafafa;
}
nav.pagination {
  text-align: center;
  padding: 20px 0;
  font-family: monospace;
}
nav.pagination a {
  color: #95a5a6;
}
nav.pagination a:hover,
nav.pagination a.current {
  text-decoration: underline;
}
article {
  text-align: center;
  width: 100%;
}
article pre {
  text-align: left;
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
}
article header {
  margin: 20px 0;
  padding: 20px;
  padding-bottom: 45px;
  border: solid 2px #95a5a6;
}
article header .left {
  float: left;
}
article header .right {
  float: right;
}
article header .left,
article header .right {
  margin-top: 10px;
}
article header .classification {
  text-transform: uppercase;
}
article header h1,
article header h2,
article header h3,
article header h4,
article header h5,
article header h6 {
  font-family: monospace;
}
article footer {
  font-family: monospace;
  padding-bottom: 50px;
}
article footer ul {
  text-align: center;
}
article footer ul li {
  display: inline-block;
}
article footer ul li a {
  color: #8bc5b3;
}
article footer ul li a:hover {
  color: #95a5a6;
}
