// Import jeet grid system
@import 'jeet'

// Setup variables
blue = #3498db
concrete = #95a5a6
clouds = #ecf0f1
pomegranate = #c0392b

poamgranart = #8BC5B3

header-font = 'Inconsolata'
header-weight = 200

header-height = 75px

// General styles

html
	position relative
	height 100%

body
	background-color clouds
	margin 0
	padding 0
	height 100%

h1, h2, h3, h4, h5, h6 
	font-family header-font
	font-weight header-weight

// Master template styles
header.main
	padding 15px 0
	background-color poamgranart
	text-align center
	color clouds
	height header-height
	a
		color clouds
		font-family header-font
		font-size 20px
		&:hover
			color lighten(poamgranart, 50%)
	h1
		letter-spacing 1px

footer.main
	background-color concrete
	font-family header-font
	padding 40px 0
	text-align center
	height 25px
	a
		color white
		&:hover
			color poamgranart

// General styles across pages
#timeline
	width 600px
	padding-left 20px
	padding-right @padding-left
	margin-left - ((@width + @padding-right*2) / 2)
	left 50%
	background-color poamgranart
	position absolute
	bottom 0
	height 40px
	&.disabled
		bottom -41px
	transition bottom 100ms
	font-family header-font
	color clouds
	span
		margin-top 7px
	#min-year
		float left
	#max-year
		float right
	text-align center

#timeline-control
	width 500px
	display inline-block
	position absolute
	top -7px
	left 50%
	margin-left - (@width / 2)
	height: 1px;
	border-top: solid 1px clouds;
	padding: 0 15px;
	.noUi-handle
		background-color clouds
		border solid thin poamgranart
		height 15px
		width @height
		border-radius @height
		top -8px

div.container
	center(900px)
	position relative
	width 100%
	&.map, &.cloud
		position absolute
		max-width 100%
		margin-top header-height + 25px
		top 0
		height 100%
		width 100%
		overflow hidden

// Map page

div#map-canvas
	width 100%
	height 100%
	img 
		max-width:none;

// Browse page
form
	text-align center
	label
		font-family header-font
		display inline-block
		font-weight normal
		margin-right 10px

input[type="text"][name="search"]
	max-width 400px;
	margin 15px 0
	display inline-block


tbody > tr
	&:hover
		cursor pointer
		background-color darken(white, 2%)

nav.pagination
	text-align center
	padding 20px 0
	font-family monospace
	a
		color concrete
		&:hover, &.current
			text-decoration underline

// Single cable
article
	text-align center
	width 100%
	pre
		text-align left
		display inline-block
		max-width 100%
		white-space pre-wrap
	header
		margin 20px 0
		padding 20px
		padding-bottom @padding * 2.25
		border solid 2px concrete
		.left
			float left
		.right
			float right

		.left, .right
			margin-top 10px
		.classification
			text-transform uppercase
		h1, h2, h3, h4, h5, h6
			font-family monospace
	footer
		font-family monospace
		padding-bottom 50px
		ul
			text-align center
			li
				display inline-block
				a 
					color poamgranart
					&:hover
						color concrete


